<header>
    <div class="container">
         <div class="row">

            <div class="col-md-8 col-sm-7 text-align-right">
                <span class="phone-icon"><i class="fa fa-phone"></i> +250-0788-304-545</span>
                <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 24/7</span>
                <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#">healthcare@gmail.com</a></span>
                <span class="address-icon"><i class="fa fa-map-marker-alt"></i>KN 190st 32 Kigali-Rwanda</span>

           </div>

              <div class="col-md-4 col-sm-5">
                <ul class="social-icon">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
               </ul>
              </div>

         </div>
    </div><br>
</header>
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ffff;">
        <a class="navbar-brand" href="#"><img  id="logo" src="media/images/healthlogo-removebg-preview.png" alt="logo"></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'index'%}" style="font-weight: bold; padding-right: 50px; font-family: 'Poppins', sans-serif;">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#" style="font-weight: bold; padding-right: 40px; font-family: 'Poppins';color: #04D4F0;font-size: 18px;">Doctors</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#CONTACT" style="font-weight: bold;padding-right: 40px; color: black; font-family: 'Poppins', sans-serif;">Contacts</a>
                </li>

                <form class="form-inline my-2 my-lg-0  ml-auto" action="{% url 'search' %}" method="GET">
                <input type="search" class="form-control mr-sm-2" name="search" placeholder="Search..."
                    style="border-radius: 30px;height: 35px;font-family: 'Times New Roman', Times, serif;width: 200px;">
            </form>



            </ul>
        </div>
    </nav>
</div>
